.cartItem {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ecd3cc;
    display: flex;
    justify-content: space-between;
}

.removeBtn {
    border-radius: 50px;
    border: 1.6px solid #CAAFA7;
    background-color: transparent;
    width: 23px;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.removeBtn:hover {
    border: 1.6px solid #76645f;
    background-color: transparent;
}
.removeBtn:hover .svg path {
    fill:  #76645f;
}

.removeBtnDiv {
    align-self: center;
}
.cartItemName {
    color: hsl(14deg 83.98% 17.98%);
}
.quantityStyle {
    color: hsl(14, 86%, 42%);
    font-weight: 700;
    margin-right: 1rem;
}
.priceStyle {
    color: #ac8b81;
    margin-right: 0.5rem;
}
.totalPriceStyle {
    color: #ac8b81;
    font-weight: 700;
}
